.MealsList {
  position: absolute;
  top: 120rem;
  bottom: 0;
  overflow: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 160rem;
}

/* .MealsList {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
  max-width: 800px;
  margin: 0 auto;
} */
