.MenuItemsList {
  position: absolute;
  top: 470rem;
  bottom: 128rem;
  left: 0;
  right: 0;
  overflow-y: auto;
  padding: 22rem 24rem 132rem;
  background: #fffaf1;
}

.Sentinel {
  height: 30rem;
}

@media (max-width: 560px) {
  .MenuItemsList {
    top: 470rem;
    padding-inline: 18rem;
  }
}

@media (min-width: 700px) and (max-width: 899px) {
  .MenuItemsList {
    top: 470rem;
  }
}

@media (min-width: 900px) and (max-width: 1359px) {
  .MenuItemsList {
    top: 398rem;
    padding: 28rem 40rem 132rem;
  }
}

@media (min-width: 1360px) {
  .MenuItemsList {
    top: 306rem;
    padding: 28rem 40rem 132rem;
  }
}
