.Card {
  composes: Card from './ProfileCard.module.css';
}

.CardHeader {
  composes: CardHeader from './ProfileCard.module.css';
}

.CardTitle {
  composes: CardTitle from './ProfileCard.module.css';
}

.Actions {
  composes: Actions from './ProfileCard.module.css';
}

.PrimaryAction {
  composes: PrimaryAction from './ProfileCard.module.css';
}

.DangerAction {
  composes: DangerAction from './ProfileCard.module.css';
}
