.Price,
.EmptyCartText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  color: #fff;
  font-weight: bold;
  font-size: 28rem;
  line-height: 1.1;
  white-space: nowrap;
}

.EmptyCartText {
  color: #bdb5aa;
}

.Price span {
  margin-bottom: 4rem;
  color: #ffc72c;
  font-size: 16rem;
  font-weight: 900;
  text-transform: uppercase;
}

@media (max-width: 560px) {
  .Price,
  .EmptyCartText {
    font-size: 24rem;
  }

  .Price span {
    font-size: 14rem;
  }
}

@media (min-width: 700px) and (max-width: 1359px) and (max-height: 700px) {
  .Price,
  .EmptyCartText {
    font-size: 18rem;
  }

  .Price span {
    font-size: 11rem;
  }
}
